<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/style.css">
        <title>insta485</title>
  

        
    </head>
    <body>
        <h1 id="main-title">Insta485</h1>
            <a href="/">
                <img src="/static/images/logo.png" alt="Logo">
            </a>
        <a href="/explore/">explore</a>
        <a href="/users/{{ logname }}/">{{ logname }}</a>
        
        <h1>Followers</h1>
        
        {% for follower in followers %}
        <div class="follower">
            <img src="{{follower.user_img_url}}" alt="{{follower.username}} profile picture" width="100" height="100">
            <p><strong>
                <a href="/users/{{follower.username}}/">{{ follower.username }}</a>
            </strong></p>
            <div class="relationship">
                {% if logname != follower.username %}
                    {% if follower.logname_follows_username %}
                        <span>following</span>
                        <form action="/following/?target=/users/{{ username }}/followers/" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="submit" name="unfollow" value="unfollow"/>
                            <input type="hidden" name="username" value="{{ follower.username }}"/>
                            <input type="hidden" name="operation" value="unfollow"/>
                        </form>
                    {% else %}
                        <span>not following</span>
                        <form action="/following/?target=/users/{{ username }}/followers/" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="submit" name="follow" value="follow"/>
                            <input type="hidden" name="username" value="{{follower.username}}"/>
                            <input type="hidden" name="operation" value="follow"/>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
            
        </div>
        
        
        {% endfor %}
    </body>
</html>