<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>insta485</title>
    </head>
    <body>
        <h1 id="main-title">Insta485</h1>
            <a href="/">
                <img src="/static/images/logo.png" alt="Logo">
            </a>
        <a href="/explore/">explore</a>
        <a href="/users/{{ logname }}/">{{ logname }}</a>
        
        <h1>Following</h1>
        
        {% for user in following %}
        <div class="following">
            <img src="{{user.user_img_url}}" alt="{{user.username}} profile picture" width="100" height="100">
            <p><strong>
                <a href="/users/{{user.username}}/">{{ user.username }}</a>
            </strong></p>
            <div class="relationship">
                {% if logname != user.username %}
                    {% if user.logname_follows_username %}
                        <span>following</span>
                        <form action="/following/?target=/users/{{ logname }}/following/" method="post" enctype="multipart/form-data">
                            <input type="submit" name="unfollow" value="unfollow"/>
                            <input type="hidden" name="username" value="{{ user.username }}"/>
                            <input type="hidden" name="operation" value="unfollow"/>
                        </form>
                    {% else %}
                        <span>not following</span>
                        <form action="/following/?target=/users/{{ logname }}/following/" method="post" enctype="multipart/form-data">
                            <input type="submit" name="follow" value="follow"/>
                            <input type="hidden" name="username" value="{{user.username}}"/>
                            <input type="hidden" name="operation" value="follow"/>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </body>
</html>