<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>insta485</title>
  

        
    </head>
    <body>
        <h1 id="main-title">Insta485</h1>
            <a href="/">
                <img src="/static/images/logo.png" alt="Logo">
            </a>
            <!-- <a href="/">Home</a> -->
        <a href="/explore/">explore</a>
        <a href="/users/{{ logname }}/">{{ logname }}</a>
        
        
        <!-- <form action="/accounts/?target=/accounts/password/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="password" name="password" required/>
            <input type="password" name="new_password1" required/>
            <input type="password" name="new_password2" required/>
            <input type="submit" name="update_password" value="submit"/>
            <input type="hidden" name="operation" value="update_password"/>
        </form> -->

       <!-- <form action="/accounts/?target=/accounts/password/" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        

        <p>Old password</p>
        <input type="password" name="password" required/>

        <p>New password</p>
        <input type="password" name="new_password1" required/>

        <p>New password, again</p>
        <input type="password" name="new_password2" required/>

        <input type="submit" name="update_password" value="submit"/>
        <input type="hidden" name="operation" value="update_password"/>
        </form>
         -->

        <form action="/accounts/?target=/accounts/password/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <div class="field">
                <label for="old">Old password</label>
                <input type="password" id="old" name="password" required/>
            </div>

            <div class="field">
                <label for="new1">New password</label>
                <input type="password" id="new1" name="new_password1" required/>
            </div>

            <div class="field">
                <label for="new2">New password, again</label>
                <input type="password" id="new2" name="new_password2" required/>
            </div>

            <input type="submit" name="update_password" value="submit"/>
            <input type="hidden" name="operation" value="update_password"/>
        </form>


        
        <p><strong><a href="/accounts/edit/">Back to edit account</a></strong></p>
    </body>
</html>