<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/style.css">
        <title>insta485</title>
  

        
    </head>
    <body>
        <h1 id="main-title">Insta485</h1>
            <a href="/">
                <img src="/static/images/logo.png" alt="Logo">
            </a>
        <a href="/explore/">explore</a>
        <a href="/users/{{ logname }}/">{{ logname }}</a>
        
        <h1>{{ username }}</h1>
        <div>
            
            {% if logname != username %}
                {% if logname_follows_username %}
                    <p>following</p>
                    <form action="/following/?target=/users/{{ username }}/" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="submit" name="unfollow" value="unfollow"/>
                        <input type="hidden" name="username" value="{{ username }}"/>
                        <input type="hidden" name="operation" value="unfollow"/>
                    </form>
                {% else %}
                    <p>not following</p>
                    <form action="/following/?target=/users/{{ username }}/" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="submit" name="follow" value="follow"/>
                        <input type="hidden" name="username" value="{{ username }}"/>
                        <input type="hidden" name="operation" value="follow"/>
                    </form>
                {% endif %}

            {% else %}
                <p><strong><a href="/accounts/edit/">Edit profile</a></strong></p>
                <form action="/accounts/logout/" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="submit" name="logout" value="Logout"/>
                </form>

            {% endif %}

            
            <p>{{total_posts}} post{{ '' if total_posts == 1 else 's' }} 
                <strong>
                    <a href="/users/{{username}}/followers/">{{ followers }} follower{{ '' if followers == 1 else 's' }}</a> 
                    <a href="/users/{{username}}/following/">{{following}} following</a>
                </strong>
            </p>
            
        </div>
        <p>{{ fullname }}</p>

        {# ---- Upload form: only for the owner of the page ---- #}
        {% if logname == username %}
        <form action="/posts/?target=/users/{{ username }}/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="file" name="file" accept="image/*" required>
            <input type="submit" name="create_post" value="upload new post">
            <input type="hidden" name="operation" value="create">
        </form>
        {% endif %}

        {% if posts|length == 0 %}
            <p>No posts yet.</p>   {# exact text inc. period to satisfy the test #}
        {% else %}

            {% for post in posts %}
                <a href="/posts/{{ post.id }}/"><img src="{{post.img_url}}" alt="post img" width="300" height="250"></a>
            
            {% endfor %}
        {% endif %}
    </body>
</html>